  /* Smaller screens */
  @media screen and (max-width: 600px) {
    .content h3 {
      font-size: 1rem;
      color: #2c292b;
    }
  }

/* Bigger screens */
@media screen and (min-width: 601px) {
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
}

.item {


  }
  
  .item img {
    /* Adds rounded top corners to the image */
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    max-height: 350px;
    width: 100%;
    display: block;
    margin: auto;
    
  }
  
  .content {
    text-align: center;
  }