  /* Smaller screens */
@media screen and (max-width: 600px) {
    .card {
        display: block;
        
        max-height: 90%;
        min-width: 80%;
        max-width: 100%;
        background-color: white;
    }
  }

/* Bigger screens */
@media screen and (min-width: 601px) {
    .card {
        display: block;
        width: 400px;
        height: 550px;
        background-color: white;
    }
}

/* Bigger screens */
@media screen and (min-width: 801px) {
  .card {
      display: block;
      width: 450px;
      height: 550px;
      background-color: white;
  }
}

.card {
    border-radius: 18px;
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.2);

    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }